body {
    background: linear-gradient(249.81deg, #16132b 4.33%, #3d3c65 94.16%);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#canvas {
    background: #b2c6e4;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 40px;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#message {
	position: relative;
	color: #3d3c65;
	top: 50;
	left: 50;
	bottom: 50;
	right: 50;
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.btn {
	display: block;
	position: relative;
	font-size: 35px;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	margin: 10px auto;
	border: none;
	border-radius: 15px;
	padding: 7px 25px;
	color: #3d3c65;
	background-color: #f08666;
}

#online-game {
	color: #3d3c65;
	background-color: #f08666;
}

#bot-game {
	color: #b2c6e4;
	background-color: #3d3c65;
}
