@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background: linear-gradient(249.81deg, #16132b 4.33%, #3d3c65 94.16%);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* .last-message {
	position: relative;
	text-align: center;
	font-family: 'Zen Kaku Gothic Antique', sans-serif;
	font-size: 100px;
	font-weight: 500;
} */
